*{
  font-family: 'Mukta Mahee', sans-serif;
  color: white !important;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgb(148, 0, 5);
}
#sitename{
  position: fixed;
  top: 30px;
  left: 30px;
  font-size: 2em;
}

#pc-link{
  position: fixed;
  text-align: right;
  top: 35px;
  right: 30px;
  font-size: 1.3em;
}
#list{
  background: rgb(46, 46, 46);
  position: fixed;
  top: 100px;
  left: 0;
  width: 30%;
  overflow-y: auto;
}
#additional-information{
  background: rgb(46, 46, 46);
  position: fixed;
  top: 100px;
  right: 0;
  width: 30%;
  overflow-y: auto;
}
#info{
  background: rgb(46, 46, 46);
  position: fixed;
  top: 100px;
  left: 30%;
  width: 40%;
  overflow-y: auto;
}
#inner-info, #inner-right-info{
  padding: 1em;
}
.entry{
  padding: 1em;

}
.entry:nth-child(odd){
  background: rgb(46, 46, 46);
}
.entry:hover{
  background: rgb(184, 123, 123);
  cursor: pointer;
  color:rgb(100, 0, 0,) !important;
}

A:hover {color:rgba(74, 0, 0,) !important; text-decoration:none; }

.selected{
  background: rgb(179, 71, 71) !important;
}
.author{
  font-variant: small-caps;
}
#levelname{
  font-size: 1.7em;
  font-weight: bold;

}
#levelauthor{
  font-size: 1.1em;
}
#leveldescription{
  font-size: 0.8em;
  font-variant: small-caps;

}
.vid{
  width: 100%;
}
#records{
  width: 100%;
}
#records-title{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
#records-table{
  width: 100%;
}
#explanation-simple-title{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
#explanation-simple{
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.interentry{
  width: 100%;
  padding: 0.5em;
}
.record-entry:nth-child(even){
  background: rgb(46, 46, 46)
}
.record-entry:nth-child(odd){
  background: rgb(46, 46, 46)
}
#block{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: white;
  font-size: 3em;
}
.hacked{
  background: red;
  color: white;
  font-weight: strong;
  font-size: 0.4em;
  padding: 0.4em;
  border-radius: 1em;
}
.p-hacked{
  background: rgb(255, 127, 127);
  color: white;
  font-weight: strong;
  font-size: 0.4em;
  padding: 0.4em;
  border-radius: 1em;
}
#hi{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 99;
}
#user-rank {
  font-size: 20px;
  font-weight: bold;
}

Swal {
  color: white;
}